<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.xmos.cdt.core.Launch">
<booleanAttribute key="com.xmos.cdt.display_command_in_console" value="false"/>
<booleanAttribute key="com.xmos.cdt.displaystats" value="false"/>
<booleanAttribute key="com.xmos.cdt.enablegprof" value="false"/>
<booleanAttribute key="com.xmos.cdt.enablexscopeio" value="false"/>
<booleanAttribute key="com.xmos.cdt.gprof" value="false"/>
<booleanAttribute key="com.xmos.cdt.io" value="true"/>
<booleanAttribute key="com.xmos.cdt.io_none" value="false"/>
<booleanAttribute key="com.xmos.cdt.launch.set.defaults.debug_main_tab" value="true"/>
<booleanAttribute key="com.xmos.cdt.launch.set.defaults.debugger_tab" value="true"/>
<booleanAttribute key="com.xmos.cdt.launch.set.defaults.run_main_tab" value="true"/>
<booleanAttribute key="com.xmos.cdt.launch.set.defaults.simulator_tab" value="true"/>
<booleanAttribute key="com.xmos.cdt.launch.set.defaults.xscope_tab" value="true"/>
<booleanAttribute key="com.xmos.cdt.maxcycles" value="false"/>
<stringAttribute key="com.xmos.cdt.maxcyclestext" value=""/>
<booleanAttribute key="com.xmos.cdt.pins" value="false"/>
<listAttribute key="com.xmos.cdt.pins.connections">
<listEntry value="tile[0]:XS1_PORT_1I:0:1:tile[0]:XS1_PORT_1E:0:1"/>
<listEntry value="tile[0]:XS1_PORT_1J:0:1:tile[0]:XS1_PORT_1F:0:1"/>
<listEntry value="tile[0]:XS1_PORT_1K:0:1:tile[0]:XS1_PORT_1G:0:1"/>
<listEntry value="tile[0]:XS1_PORT_1L:0:1:tile[0]:XS1_PORT_1H:0:1"/>
</listAttribute>
<booleanAttribute key="com.xmos.cdt.simulator_launch" value="true"/>
<booleanAttribute key="com.xmos.cdt.traceDisabled" value="true"/>
<booleanAttribute key="com.xmos.cdt.traceToConsole" value="false"/>
<booleanAttribute key="com.xmos.cdt.traceToFile" value="false"/>
<booleanAttribute key="com.xmos.cdt.traceToView" value="false"/>
<stringAttribute key="com.xmos.cdt.tracefiletext" value="trace.xstr"/>
<booleanAttribute key="com.xmos.cdt.uart" value="false"/>
<listAttribute key="com.xmos.cdt.userPlugins"/>
<booleanAttribute key="com.xmos.cdt.vcd.open_trace_perspective" value="true"/>
<booleanAttribute key="com.xmos.cdt.vcd.pads.tracing" value="false"/>
<booleanAttribute key="com.xmos.cdt.vcd.start_disabled" value="false"/>
<listAttribute key="com.xmos.cdt.vcd.trace_points">
<listEntry value="Core;tile[0]:Ports;true"/>
</listAttribute>
<booleanAttribute key="com.xmos.cdt.vcd.tracing" value="true"/>
<booleanAttribute key="com.xmos.cdt.xprobe.enable" value="false"/>
<stringAttribute key="com.xmos.cdt.xprobe.filename" value=""/>
<booleanAttribute key="com.xmos.cdt.xprobe.filespecified" value="false"/>
<booleanAttribute key="com.xmos.cdt.xprobe.limitmaxrecords" value="false"/>
<stringAttribute key="com.xmos.cdt.xprobe.maxrecords" value=""/>
<booleanAttribute key="com.xmos.cdt.xprobe.openTracePerspective" value="true"/>
<stringAttribute key="com.xmos.cdt.xrunoptions" value=""/>
<booleanAttribute key="com.xmos.cdt.xscope" value="false"/>
<booleanAttribute key="com.xmos.cdt.xscope.analogevents" value="false"/>
<booleanAttribute key="com.xmos.cdt.xscope.disabled" value="true"/>
<booleanAttribute key="com.xmos.cdt.xscope.enable" value="false"/>
<stringAttribute key="com.xmos.cdt.xscope.port" value="10101"/>
<stringAttribute key="com.xmos.cdt.xsimoptions" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="xgdb"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.xmos.cdt.debug.core.xcore.debugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="bin/AN00160_using_SPI_master.xe"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="AN00160_using_SPI_master"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AN00160_using_SPI_master"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
