// This is a TensorFlow Lite model runner interface that has been
// generated using the generate_model_runner tool.

#include "{{header_file}}"

#include "drivers/sw_services/model_runner/api/model_runner_profiler.h"
#include "tensorflow/lite/micro/kernels/xcore/xcore_interpreter.h"
#include "tensorflow/lite/micro/kernels/xcore/xcore_ops.h"

typedef tflite::MicroMutableOpResolver<{{builtin_operators|length + custom_operators|length}}> resolver_t;
typedef xcore::ModelRunnerProfiler<{{layer_count}}> profiler_t;

static resolver_t resolver_s;
static resolver_t *resolver = nullptr;

static profiler_t *profiler = nullptr;

static char interpreter_buffer[sizeof(tflite::micro::xcore::XCoreInterpreter)];

ModelRunnerStatus {{name}}_create(model_runner_t *ctx, const uint8_t* model_content)
{
  // Set up op resolver
  //   This pulls in all the operation implementations we need.
  if (resolver == nullptr) {
    resolver = &resolver_s;
    {%- for builtin_operator in builtin_operators %}
    resolver->Add{{builtin_operator}}();
    {%- endfor %}
    {%- for custom_operator in custom_operators %}
    resolver->AddCustom(tflite::ops::micro::xcore::{{custom_operator[0]}}, tflite::ops::micro::xcore::{{custom_operator[1]}}());
    {%- endfor %}
    {%- for unknown_operator in unknown_operators %}
    // Unable to generate registration code for {{unknown_operator}}
    {%- endfor %}
  }

#ifndef NDEBUG
  if (profiler == nullptr) {
    // Set up profiling
    static profiler_t profiler_s;

    profiler = &profiler_s;
  }
#endif

  return model_runner_create(
      ctx, static_cast<void *>(resolver), static_cast<void *>(profiler),
      static_cast<void *>(interpreter_buffer), model_content);
}

ModelRunnerStatus {{name}}_invoke(model_runner_t *ctx) {
  if (profiler) {
    profiler->Reset();
  }

  return model_runner_invoke(ctx);
}


#ifndef NDEBUG

void {{name}}_get_profiler_times(model_runner_t *ctx, uint32_t *count,
                                     const uint32_t **times) {
  if (profiler) {
    *count = profiler->GetNumTimes();
    *times = profiler->GetTimes();
  }
}

void {{name}}_print_profiler_summary(model_runner_t *ctx) {
  uint32_t count = 0;
  const uint32_t *times = nullptr;

  {{name}}_get_profiler_times(ctx, &count, &times);

  model_runner_print_profiler_summary(ctx, count, times);
}

#endif

