# Editor cruft
**/.vscode/

# Python cruft
**/*.pyc
**/__pycache__/*
**/aif_venv/*
**/.ipynb_checkpoints/*
**/*.egg-info/*
**/*.eggs/*
Pipfile.lock

# Build cruft
**/build*/
**/.build/
_build
**/infr*/
**/dist/
**/bin/
*.o
*.so*
*.dylib

# Test cruft
**/.pytest_cache/*
**/*_junit.xml

# macOS cruft
.DS_Store

# Misc cruft
**/*.local.*

# tmp files
*~
*.*~
*log*
