# Editor cruft
**/.vscode/

# Python cruft
**/*.pyc
**/__pycache__/*
**/.ipynb_checkpoints/*

# Build & debug cruft
**/.build*/*
**/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
*.xmt
**/_build/
**/run_*.log
**/pdf/*
**/html/*
**/.settings/*
.metadata
**/test_results.csv
**/.venv/**
.metadata

# waf build cruft
.lock-waf_*
.waf-*/
build/

# systemview debug cruft
*.SVDAT

# macOS cruft
.DS_Store