[submodule "dependencies/lib_dsp"]
	path = modules/lib_dsp
	url = git@github.com:xmos/lib_dsp.git
[submodule "dependencies/lib_ethernet"]
	path = modules/to_remove/lib_ethernet/lib_ethernet
	url = git@github.com:xmos/lib_ethernet.git
[submodule "dependencies/lib_gpio"]
	path = modules/to_remove/lib_gpio/lib_gpio
	url = git@github.com:xmos/lib_gpio.git
[submodule "dependencies/lib_i2c"]
	path = modules/to_remove/lib_i2c/lib_i2c
	url = git@github.com:xmos/lib_i2c.git
[submodule "dependencies/lib_i2s"]
	path = modules/to_remove/lib_i2s/lib_i2s
	url = git@github.com:xmos/lib_i2s.git
[submodule "dependencies/lib_locks"]
	path = modules/to_remove/lib_locks/lib_locks
	url = git@github.com:xmos/lib_locks.git
[submodule "dependencies/lib_logging"]
	path = modules/to_remove/lib_logging/lib_logging
	url = git@github.com:xmos/lib_logging.git
[submodule "dependencies/lib_mic_array"]
	path = modules/to_remove/lib_mic_array/lib_mic_array
	url = git@github.com:xmos/lib_mic_array.git
[submodule "dependencies/lib_otpinfo"]
	path = modules/lib_otpinfo
	url = git@github.com:xmos/lib_otpinfo.git
[submodule "dependencies/lib_random"]
	path = modules/lib_random
	url = git@github.com:xmos/lib_random.git
[submodule "dependencies/lib_sdram"]
	path = modules/to_remove/lib_sdram/lib_sdram
	url = git@github.com:xmos/lib_sdram.git
[submodule "dependencies/lib_trycatch"]
	path = modules/to_remove/lib_trycatch/lib_trycatch
	url = git@github.com:xmos/lib_trycatch.git
[submodule "dependencies/lib_xassert"]
	path = modules/to_remove/lib_xassert/lib_xassert
	url = git@github.com:xmos/lib_xassert.git
[submodule "FreeRTOS"]
	path = modules/rtos/FreeRTOS/FreeRTOS-Plus/FreeRTOS
	url = git@github.com:xmos/FreeRTOS.git
	branch = release/xcore
[submodule "lib_soc/src/peripherals/bsp/wf200_driver/thirdparty/wfx-fullMAC-driver"]
	path = modules/lib_soc/src/peripherals/bsp/wf200_driver/thirdparty/wfx-fullMAC-driver
	url = git@github.com:SiliconLabs/wfx-fullMAC-driver.git
[submodule "rtos/FreeRTOS-SMP"]
	path = modules/rtos/FreeRTOS/FreeRTOS-Plus/FreeRTOS-SMP
	url = git@github.com:xmos/FreeRTOS.git
	branch = release/xcore-smp
[submodule "rtos/FreeRTOS/FreeRTOS-Labs/Lab-Project-FreeRTOS-FAT"]
	path = modules/rtos/FreeRTOS/FreeRTOS-Labs/Lab-Project-FreeRTOS-FAT
	url = git@github.com:FreeRTOS/Lab-Project-FreeRTOS-FAT.git
[submodule "lib_soc/src/peripherals/bsp/wf200_driver/thirdparty/wfx-firmware"]
	path = modules/lib_soc/src/peripherals/bsp/wf200_driver/thirdparty/wfx-firmware
	url = git@github.com:SiliconLabs/wfx-firmware.git
[submodule "thirdparty/mbedtls"]
	path = modules/drivers/sw_services/rtos/tls_support/thirdparty/mbedtls
	url = git@github.com:ARMmbed/mbedtls.git
[submodule "thirdparty/paho.mqtt.embedded-c"]
	path = modules/drivers/sw_services/rtos/mqtt/thirdparty/paho.mqtt.embedded-c
	url = git@github.com:eclipse/paho.mqtt.embedded-c.git
[submodule "thirdparty/http-parser"]
	path = modules/drivers/sw_services/rtos/http/thirdparty/http-parser
	url = git@github.com:nodejs/http-parser.git
[submodule "lib_soc/src/sw_services/json/jsmn"]
	path = modules/drivers/sw_services/rtos/json/thirdparty/jsmn
	url = git@github.com:zserge/jsmn.git
[submodule "tools/ai_tools"]
	path = tools/ai_tools
	url = git@github.com:xmos/ai_tools.git
[submodule "modules/lib_xs3_math"]
	path = modules/lib_xs3_math
	url = git@github.com:xmos/lib_xs3_math.git
[submodule "modules/drivers/hil/lib_i2c"]
	path = modules/drivers/hil/lib_i2c
	url = git@github.com:xmos/lib_i2c.git
[submodule "modules/drivers/hil/lib_i2s"]
	path = modules/drivers/hil/lib_i2s
	url = git@github.com:xmos/lib_i2s.git
[submodule "modules/drivers/hil/lib_mic_array"]
	path = modules/drivers/hil/lib_mic_array
	url = git@github.com:xmos/lib_mic_array.git
[submodule "modules/drivers/hil/lib_spi"]
	path = modules/drivers/hil/lib_spi
	url = git@github.com:xmos/lib_spi.git
[submodule "modules/drivers/rtos/wifi/SL_WF200/wfx-fullMAC-driver"]
	path = modules/drivers/rtos/wifi/sl_wf200/thirdparty/wfx-fullMAC-driver
	url = git@github.com:SiliconLabs/wfx-fullMAC-driver.git
