[submodule "FreeRTOS"]
	path = FreeRTOS
	url = git@github.com:xmos/FreeRTOS.git
[submodule "dependencies/lib_xcore_c"]
	path = dependencies/lib_xcore_c
	url = git@github.com:xmos/lib_xcore_c.git
[submodule "dependencies/lib_trycatch"]
	path = dependencies/lib_trycatch
	url = git@github.com:xmos/lib_trycatch.git
[submodule "dependencies/lib_xassert"]
	path = dependencies/lib_xassert
	url = git@github.com:xmos/lib_xassert.git
[submodule "dependencies/lib_otpinfo"]
	path = dependencies/lib_otpinfo
	url = git@github.com:xmos/lib_otpinfo.git
[submodule "dependencies/lib_ethernet"]
	path = dependencies/lib_ethernet
	url = git@github.com:xmos/lib_ethernet.git
[submodule "dependencies/lib_gpio"]
	path = dependencies/lib_gpio
	url = git@github.com:xmos/lib_gpio.git
[submodule "dependencies/lib_locks"]
	path = dependencies/lib_locks
	url = git@github.com:xmos/lib_locks.git
[submodule "dependencies/lib_logging"]
	path = dependencies/lib_logging
	url = git@github.com:xmos/lib_logging.git
[submodule "dependencies/lib_random"]
	path = dependencies/lib_random
	url = git@github.com:xmos-jmccarthy/lib_random.git
[submodule "dependencies/lib_mic_array"]
	path = dependencies/lib_mic_array
	url = git@github.com:henkmuller/lib_mic_array.git
[submodule "dependencies/lib_dsp"]
	path = dependencies/lib_dsp
	url = git@github.com:xmos/lib_dsp.git
[submodule "dependencies/lib_i2c"]
	path = dependencies/lib_i2c
	url = git@github.com:xmos/lib_i2c.git
[submodule "dependencies/lib_i2s"]
	path = dependencies/lib_i2s
	url = git@github.com:xmos/lib_i2s.git
[submodule "dependencies/lib_sdram"]
	path = dependencies/lib_sdram
	url = git@github.com:mbruno-xmos/lib_sdram.git
