**/.build*/*
**/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
**/_build/
**/run_*.log
**/pdf/*
**/html/*
**/html/*
*.pyc
**/.settings*
Installs/*
test_results.csv
.*.swp

# waf build files
.lock-waf_*
.waf-*/
build/
