// This is a TensorFlow Lite model file that has been converted into a C data
// array using the convert_tflite_to_c_source() tool.

#ifndef {{include_guard}}
#define {{include_guard}}

extern const unsigned char {{array_name}}_model_data[];
extern const int {{array_name}}_model_data_len;

#endif  // {{include_guard}}
